# Pandas Basics
このノートブックでは、Pandasの基本操作について説明します。

## 1. データフレームの作成

In [1]:
import pandas as pd

# データフレームの作成
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

## 2. CSVファイルからのデータ読み込み

In [2]:
# CSVファイルの読み込み (例: 'data.csv')
# df = pd.read_csv('data.csv')
# display(df)

# ※ここではデータがないため、このセルはサンプルとして記述しています。

## 3. データの選択とフィルタリング

In [3]:
# 列の選択
names = df['Name']
print("Names:\n", names)

# 行のフィルタリング
age_filter = df[df['Age'] > 25]
print("Filtered by Age > 25:\n", age_filter)

Names:
 0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
Filtered by Age > 25:
     Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston

## 4. 欠損値の処理

In [4]:
# 欠損値を含むデータフレームの作成
data_with_nan = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [24, None, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', None]
}
df_nan = pd.DataFrame(data_with_nan)
print("DataFrame with NaN:\n", df_nan)

# 欠損値の削除
df_dropped = df_nan.dropna()
print("DataFrame with NaN dropped:\n", df_dropped)

# 欠損値の補完
df_filled = df_nan.fillna('Unknown')
print("DataFrame with NaN filled:\n", df_filled)

DataFrame with NaN:
     Name   Age         City
0  Alice  24.0     New York
1    Bob   NaN  Los Angeles
2   None  22.0      Chicago
3  David  32.0         None
DataFrame with NaN dropped:
     Name   Age      City
0  Alice  24.0  New York
DataFrame with NaN filled:
       Name      Age         City
0    Alice     24.0     New York
1      Bob  Unknown  Los Angeles
2  Unknown     22.0      Chicago
3    David     32.0      Unknown

## 5. データの集計

In [5]:
# データの集計
average_age = df['Age'].mean()
age_summary = df['Age'].describe()

print("Average Age:", average_age)
print("Age Summary:\n", age_summary)

Average Age: 26.25
Age Summary:
 count     4.000000
mean     26.250000
std       4.349329
min      22.000000
25%      23.500000
50%      25.500000
75%      28.250000
max      32.000000
Name: Age, dtype: float64